<div class="main-content">

<div>TEST</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= link_to "#{image_tag('granola1.jpg')}".html_safe, details_path  %>
</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= image_tag "granola1.jpg" %>
</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= image_tag "granola1.jpg" %>
</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= image_tag "granola1.jpg" %>
</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= image_tag "granola1.jpg" %>
</div>
<div class="col-6 col-sm-6 col-lg-4 img1of3">
	<%= image_tag "granola1.jpg" %>
</div>


</div>